@model Latihan6.Models.Kela

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kela</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamaKelas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaKelas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Harga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KodeKelas }) |
    @Html.ActionLink("Back to List", "Index")
</p>
