@model IEnumerable<Latihan6.Models.Kela>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaKelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harga)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaKelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Harga)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodeKelas }) |
            @Html.ActionLink("Details", "Details", new { id=item.KodeKelas }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KodeKelas })
        </td>
    </tr>
}

</table>
