@model IEnumerable<Latihan6.Models.Pasien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaPasien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaPasien)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Foto)*@
            <img src="~/Content/Upload/@item.Foto" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodePasien }) |
            @Html.ActionLink("Details", "Details", new { id=item.KodePasien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KodePasien })
        </td>
    </tr>
}

</table>
